@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro|Raleway);

@brand: #68ca92;
@brand-dark: darken(@brand, 10%);

html, body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Raleway", sans-serif;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding: 10px;
    width: 400px;
    height: 400px;
    background: #333;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-group {
    > .local {
        float: left;

        .video-container {
            width: 200px;
            height: 200px;
        }
    }

    > .remote {
        float: left;
        margin-left: 20px;
    }
}

.circle-overlay (@width, @height, @cornerSize, @background, @backgroundClear) {
    position: relative;
    z-index: 1;
    width: @width;
    height: @height;
    background: @background;
}

.octagon-overlay (@width, @height, @cornerSize, @background, @backgroundClear) {
    position: relative;
    z-index: 1;
    width: @width;
    height: @height;
    background: @background;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        content: "";
        border-top: @cornerSize solid @backgroundClear;
        border-right: @cornerSize solid transparent;
        width: 0;
        height: 0;
    }

    &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        content: "";
        border-bottom: @cornerSize solid @backgroundClear;
        border-left: @cornerSize solid transparent;
        width: 0;
        height: 0;
    }
}