@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro|Raleway);
/*@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css)*/

@brand: #FEB751;
@brand-dark: darken(@brand, 10%);
@second: #36AA81;
@third: #E84A71;

.raleway {
    font-family: "Raleway", sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p {
    .raleway;
}

.row {
    max-width: none;
}

#main-nav {
    float: left;
    padding: 20px;
    width: 240px;
    /*box-shadow: 2px 0 4px #ccc;*/

    section {
        margin-bottom: 20px;
        border-bottom: 4px solid @second;

        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}

#content {
    float: left;
    width: 60%;
}

.video-container {
    position: relative;
    overflow: hidden;
    border: 4px solid @brand;
    .octagon-overlay(200px, 200px, 20px, #333, @brand);

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#local-user {
    .local-video {
        margin-bottom: 20px;

        &:hover {
            background: @second;
            cursor: pointer;
        }

        .placeholder {
            margin-top: 45px;
            padding: 0 20px;
            .raleway;
            text-align: center;
            color: #fff;
        }
    }
}

#contacts-list {
    float: right;
    padding: 20px;
    width: 20%;

    .contact {
        margin-bottom: 20px;
        padding: 20px;
        border-right: 4px solid @third;
        color: #fff;
        background: #333;

        &:hover {
            background: @second;
        }
    }
}

#remote-video-group {
    position: relative;
    padding: 20px;

    .video-container {
        float: left;
        margin: 0 10px 20px;
        width: 400px;
        height: 400px;
        transition: all .3s;

        &.hide {
            display: block;
            width: 0;
            height: 0;
            -webkit-transform: rotate(10deg);
        }
    }
}

#remote-chat-group {
    padding: 20px;

    .chat-rooms-list {
        float: left;
        width: 20%;

        .chat-room-title {
            margin: 0 0 10px;
            padding: 10px;
            font-size: 1em;
            background: lighten(@third, 30%);

            &.active {
                color: #fff;
                background: @brand;
            }
        }
    }

    .chat-room {
        float: left;
        width: 80%;
    }
}

.circle-overlay (@width, @height, @cornerSize, @background, @backgroundClear) {
    position: relative;
    z-index: 1;
    width: @width;
    height: @height;
    background: @background;
}

.octagon-overlay (@width, @height, @cornerSize, @background, @backgroundClear) {
    position: relative;
    z-index: 1;
    width: @width;
    height: @height;
    background: @background;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        content: "";
        border-top: @cornerSize solid @backgroundClear;
        border-right: @cornerSize solid transparent;
        width: 0;
        height: 0;
    }

    &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        content: "";
        border-bottom: @cornerSize solid @backgroundClear;
        border-left: @cornerSize solid transparent;
        width: 0;
        height: 0;
    }
}